$body-font-family: "Source Sans Pro";
$heading-font-family: "League Gothic";
$mono-font-family: "Inconsolata";

$base-font-size: 16px;
$base-line-height: 1.5;

$black: #222;
$white: #fff;
$gray: #aaa;
$primary-color: #b2d234;

$link-color: $primary-color;
$text-color: $black;
$body-background-color: $white;
$menu-background-color: $white;

$site-width: 1320px;
$narrow-content-width: 700px;